* {
    margin:0 auto;
    padding: 0;
    
}
html, body {
    height: 100%;
    width: 100%;
}

 .navbar-nav {
     margin-right: 200px;
 }
 
body {
    
    background-image: url(thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;

}
 .name {
     position: absolute;
     background-color: teal;
     padding: 10px;
     left: 200px;
     margin-top: 0px;
 }  
  
.menu li a {


   text-decoration: none;
   text-transform: uppercase;
   padding: 0px;
   font-size: 14px;
   color:gray;

}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    
    color: #777777;
}


.menu li {
    
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 100px;
}

img {
  float: left;
  padding: 10px;
    width: 320px;
    height: 360px;
}

 h2 {
     margin-top: 10px;
     text-align: center;
     margin-top: 60px; 
    }
 
   
.footer {
    position: absolute;
    width: 100%;
    bottom: 0; /* stick to bottom */
    /* position: -ms-page; */
    border: 1px solid black;
    height: 100px;
    color: white;
    background: #333333;

    text-align: center;
    border-top: 8px solid #4aaaa5;
 

  }
/*styling for portfolio page*/
  #portfolio_footer{
        position: relative;
        margin-top: 20px;
    border: 1px solid black;
    height: 100px;
    color: white;
    background: #333333;
    margin-bottom: 0;
    text-align: center;
    border-top: 8px solid #4aaaa5;
 
  }

   /* styling cards */

/* Styling card images on the portfolio page */
  .card-img-top{

    height:200px;

  }

  .cardBtn{
    background-color:red;
    position: absolute;
    bottom: 5px;
    width: 200px;
    margin-left: 20px;
 
}

.project_cards{
   width:350px;
   height:530px;
   margin-top: 10px;
   padding: 10px;
    background-color:#ECECEC;
    border-radius: 10px;
}

  
  
  

   .picbuttons {
            position: absolute;
            top: 173px;
            left: 130px;
 }


     form {
       
         width: 60%;
         margin: 0 auto;
         border: 1px solid white;
         background-color:white;
         border-radius: 10px;
    }
    #inquirytext {      
    width:100%;
    padding:10px;     

    }

    #submitinfo {
      display: block;
    margin-left: auto;
    margin-right: auto;
    }
    #inputs{
      
      width: 60%;
      display: block;
      margin-left: 100px;
      margin-right: auto;
    }
    #userinfo{
      display: block;
      margin-left: auto;
      margin-right: auto
    }
    .contactbuttons{
      margin-top: 20px;
    }
    